@import "tailwindcss";

@layer base {
  :root {
    --font-poppins: "Poppins", sans-serif;
    --font-inter: "Inter", sans-serif;
  }
}

.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding: 24px 20px ;
}

body {
  font-family: var(--font-inter), sans-serif;
}
